*{
    margin: 0;
    padding: 0;
}
/* nav section style */
header{
    background: #ff900e1a;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    padding-top: 63px;
}
.nav-first-title{
    font-weight: 700;
    font-size: 45px;
}
.nav-dispration ul a{
    margin-right: 20px;
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
/* header section style */
.header-section{
    text-align: center;
    margin-top: 100px;
}
.header-title{
    font-weight: 700;
    font-size: 64px;
}
.header-dispration{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 25px;
}
.btn-parimary{
    padding: 20px 24px;
    margin-top: 32px;
    border: 0;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #FF900E;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 20px;
}
.header-img img{
    width: 100%;
}
.header-img{
    margin: 0 140px;
}
/* Our Features style */
.our-features{
    display: flex;
    margin-top: 85px;
}
.our-item{
    width: 50%;
}
.our-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-left: 200px;
}
.our-item img{
    width: 100%;
}
.about-dispration{
    width: 50%;
    margin-top: 250px;
    margin-left: 70px;
}
.our-features.about-dispration{
    margin-top: 330px;
}
.title-dispration{
    margin-top: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* third section style */
.third-section{
    margin-top: 130px;
}
.thied-section-item{
    display: flex;
    width: 100%;
    gap: 90px;
    margin-top: 130px;
    margin: 0 ;
}
.third-title{
    font-weight: 700;
    font-size: 45px;
}
.dispration-item{
    display: flex;
    margin-bottom: 8px;
}
.third-item{
    margin-left: 200px;
}
.third-line{
    margin-right: 8px;
    width: 4px;
    height: 15vh;
    background-color: #FF900E;
    border-radius: 8px;
}
.third-dispration{
    color: #727272;
}
.third-second-section{
    margin-top: 20px;
    padding: 30px 42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px #0000000f;
    border-radius: 8px;
}
.third-second-title{
    font-weight: 600;
    font-size: 20px;
}
.third-second-dispration{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.third-img img{
    width: 85%;
}
.img-section .img-section-class{
    padding: 50px 150px;
    margin-top: -80px;
    color: #424242;
}
.img-section {
    margin-top: -70px;
    margin-left: 40px;
    border-radius: 8px;

}
.img-section-class h1{
    font-weight: 700;
    font-size: 65px;
}
.img-section-class p{
    font-weight: 500;
    font-size: 25px;
}
/* Some Facts style */
.facts-section{
    margin-left: 250px;
    margin-top: 60px;
}
.facts-title{
    font-weight: 700;
    font-size: 45px;
}
.facts-dispration{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* card section style */
.card-section{
    margin-top: 100px;
    display: flex;
    gap: 80px;
    justify-content: center;
    
}
.card-item img{
    justify-content: center;
}
.card-item{
    padding: 35px 35px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.card-number{
    font-weight: 600;
    font-size: 35px;
    color: #424242;
}
.card-dispration{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.card-item:hover{
    background-color: black;
    color: #FFFFFF;
}
/* Our Sponspors */
.last-item{
    text-align: center;
    margin-top: 150px;
}
.last-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 10px;
}
.last-dispration{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.last-img-item{
   text-align: center;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 100px;
}
.last-img-item img{
  margin-right: 90px;
}
/* footer section style */
.footer-section{
    text-align: center;
    margin-top: 200px;
    padding: 30px 80px;
    color: #424242;
    background: #FFF4E7;
    margin: 0 200px;
    border-radius: 8px;
}